@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #EBEDF1;
    margin: 0px;
    font-size: 100%;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    padding: 0.4rem;
}

.cabecalho {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-bottom: 0.4px solid #000000;
}

.cabecalho-menu {
    display: flex;
    margin-right: 2rem;
    gap: 76px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    letter-spacing: 0.5px;
    font-style: italic;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}